#
# pattern:
#
#file/directory user
#

*           @ArsenEloglian
/MateuszSapala/		@MateuszSapala
/BarbaraKosior/   @barbara-k97
/ElizaWielocha/		@ElizaWielocha

/ZofiaSzyposzynska/		@ZosiaSzyposzynska
/KacperWegrzynowski/	@Wegrzynk
/ArturGrabowski/	@Lun4t1c
