#
# pattern:
#
#file/directory user
#

*           @ArsenEloglian
/MateuszSapala/		@MateuszSapala
/BarbaraKosior/   @barbara-k97
/ElizaWielocha/		@ElizaWielocha
/ZofiaSzyposzynska/		@ZosiaSzyposzynska
/KacperWegrzynowski/	@Wegrzynk
/MarcinKowalski/ @markow1997
/MichalBaranski/  @baranskim
/ArturGrabowski/	@Lun4t1c
/Adrian\ Kunikowski/  @Admarx
/KonradStepniak/  @Flehmango
/MonikaMostek/  @Monikazx
/Denys\ Shevchuk/ @WashingtonD
